[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "autoflake --in-place --remove-all-unused-imports --remove-unused-variables --recursive . && isort . && black ."
convert = "python main.py"

[packages]
pydub = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
isort = "*"
python-language-server = "*"
pylsp-mypy = "*"
autoflake = "*"

[requires]
python_version = "3.11"
